* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 9rem;
  margin-bottom: 2rem;
  /* border: 0.5px solid blue; */
  background: lightblue;
}

#logo {
  width: 6rem;
  height: 6rem;
  /* border: 1px solid blue; */
  border-radius: 50%;
}

#title {
  margin-bottom: 1rem;
  color: blue;
  /* text-align: center; */
}

#electricite h1 {
  text-align: center;
  color: blue;
  margin-bottom: 1rem;
}

#onglets {
  height: 2rem;
  margin-bottom: 3rem;
  /* border: 0.5px solid blue; */
}

#prestations {
  height: 10rem;
  margin-bottom: 3rem;
  /* border: 0.5px solid red; */
  /* background: lightcoral; */
}

#onglets {
  display: flex;
  justify-content: space-around;
}

#onglets a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2rem;
  border: 1px solid blue;
  border-radius: 1rem;
  background: lightseagreen;
  /* cursor: pointer; */
  font-weight: bold;
}

#carousel {
  border: 1px solid blue;
  height: 10rem;
}

#end_page {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

/* #reseaux {
  height: 1rem;
  margin-bottom: 0.2rem;
  border: 0.5px solid green;
  background: orange;
} */

#siret {
  height: 1rem;
  /* border: 0.5px solid green; */
  /* background: lightgrey; */
  text-align: center;
  font-size: 0.8rem;
  color: lightgrey;
}

@media screen and (max-width: 390px) {
  #top_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5.5rem;
    margin-bottom: 2rem;
    /* border: 0.5px solid blue; */
    background: lightblue;
  }

  #title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.7rem;
    color: blue;
  }

  #logo {
    width: 3rem;
    height: 3rem;
    /* border: 1px solid blue; */
    border-radius: 50%;
  }

  #onglets {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #carousel {
    border: 1px solid blue;
    height: 10rem;
    margin-top: 5rem;
  }
}
