* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------------------- HEADER -----------------------------  */

#top_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 9rem;
  margin-bottom: 2rem;
  /* border: 0.5px solid blue; */
  background: lightblue;
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

#title {
  margin-bottom: 1rem;
  color: #355ded;
  /* text-align: center; */
}

/*  ----------------------------- RETURN BUTTON -----------------------------  */
#return {
  margin-right: 0.5rem;
}

#return_logo {
  width: 2rem;
  height: 2rem;
}

/*  ----------------------------- CONTACT AREA -----------------------------  */
#contact_area {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#contact {
  width: 13rem;
  height: 2rem;
  border: 1px solid #3f9c35;
  border-radius: 1rem;
  background-color: #3f9c35;
  color: #355ded;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

/*  ----------------------------- MODAL -----------------------------  */
.bg_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.8);

  /* justify-content: center;
  align-items: center; */
  /* margin-bottom: 1rem; */
}

#modal {
  /* display: none; */
  position: relative;
  top: 20%;
  left: 33%;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
}

#contact_modal {
  width: 15rem;
  height: 25rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

#logo_modal {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.close {
  width: 1rem;
  height: 1rem;
  position: fixed;
  right: 33%;
  cursor: pointer;
}

#modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 2rem; */
  padding: 0 2rem 0 2rem;
  /* border: 1px solid blue; */
  height: 10rem;
  /* gap: 1rem; */
}

.text_logo {
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  /* gap: 1rem; */
}

.text_logo img {
  margin-right: 1rem;
}

.icons {
  width: 2rem;
  height: 2rem;
}

.map {
  margin: 0 2rem 1rem 2rem;
  width: 175px;
  height: 32px;
}

.map img {
  background-size: cover;
  width: 100%;
  border-radius: 1rem;
  /* height: 4.4rem; */
}

/*  ----------------------------- ONGLETS -----------------------------  */

.category h1 {
  text-align: center;
  color: lightseagreen;
  margin-bottom: 1rem;
}

#onglets {
  display: flex;
  justify-content: space-around;
  height: 2rem;
  margin-bottom: 1rem;
  /* border: 0.5px solid blue; */
}

#prestations {
  height: 5rem;
  margin-bottom: 1rem;
  /* border: 0.5px solid red; */
  /* background: lightcoral; */
}

#onglets a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2rem;
  border: 1px solid #2a9d8f;
  border-radius: 1rem;
  background: #2a9d8f;
  /* cursor: pointer; */
  font-weight: bold;
  color: #e9c46a;
}

/*  ----------------------------- MAIN -----------------------------  */

#carousel {
  border: 1px solid blue;
  height: 10rem;
}

#background_image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: 100%; */
}

#map {
  height: 5rem;
  border: 1px solid black;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  -----------------------------  FOOTER -----------------------------   */

#end_page {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

/* #reseaux {
  height: 1rem;
  margin-bottom: 0.2rem;
  border: 0.5px solid green;
  background: orange;
} */

#siret {
  height: 1rem;
  /* border: 0.5px solid green; */
  /* background: lightgrey; */
  text-align: center;
  font-size: 0.8rem;
  color: lightgrey;
}

/*  ----------------------------- MEDIA QUERIES -----------------------------  */

@media screen and (max-width: 425px) {
  /*  ----------------------------- HEADER -----------------------------  */

  #top_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    margin-bottom: 1rem;
    /* border: 0.5px solid blue; */
    background: lightblue;
  }

  #title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.7rem;
    color: blue;
  }

  #logo {
    width: 5rem;
    height: 5rem;
  }

  /*  ----------------------------- MODAL -----------------------------  */

  #modal {
    left: 9%;
  }

  .close {
    right: 9%;
  }

  /*  ----------------------------- ONGLETS -----------------------------  */

  #onglets {
    flex-wrap: wrap;
    gap: 1rem;
  }

  /*  ----------------------------- CAROUSEL -----------------------------  */

  #carousel {
    border: 1px solid blue;
    height: 10rem;
    margin-top: 5rem;
  }
}
